<%= provide(:title, "base_point_edit") %>

<div class="col">
  <h1 class="user-title">拠点情報の修正</h1>
  <div class="col-md-8 col-md-offset-2">
    <%= form_with(model: @base_point, url: base_point_path, method: :patch) do |f| %>
    
      <%= f.label :base_number %>
      <%= f.select :base_number, options_for_select(1..9), 
      { include_blank: true }, class: "form-control" %>
    
      <%= f.label :base_name %>
      <%= f.text_field :base_name, class: "form-control" %>
    
      <%= f.label :attendance_type %>
      <%= f.select :attendance_type, options_for_select(["出勤", "退勤"]), 
      { include_blank: true }, class: "form-control" %>
          
      <%= f.submit "修正をする", class: "btn btn-primary btn-block user-label-list" %>
    <% end %>
  </div>
</div>

<!--ok-->